<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./styles/styles.css">
        <title>QR Code Generator</title>
    </head>
    <body>
        <!-- Title -->
        <section>
            <header>
                <h2>QR Code <span>Generator</span></h2>
            </header>
        </section>

        <!-- Body -->
        <section>
            <div class="container">
                <div class="box">
                    <form action="/generate" method="POST">
                        <div>
                            <div class="brutalist-container">
                                <input name="link" placeholder="TYPE HERE" class="brutalist-input smooth-type" type="text" required />
                                <label class="brutalist-label">Link Here</label>
                            </div>
                            <button type="submit">Generate</button>
                        </div>
                    </form>
                    <% if (qrCodeURL) { %>
                        <div class="qr-code">
                            <img src="<%= qrCodeURL %>" alt="QR Code">
                        </div>
                    <% } %>
                </div>
            </div>
        </section>
    </body>
</html>